@model IEnumerable<PROYECTO_FINAL.Models.persona>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Listado de Clientes y Proveedores</h2>

<p>
    <a href="/Persona/Create" class="btn btn-success">Nuevo</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Tipo de Persona
        </th>
        <th>
            Nombres
        </th>
        <th>
            Tipo de Identificación
        </th>
        <th>
            Numero de Identificación
        </th>
        <th>
            Dirección
        </th>
        <th>
            Telefono
        </th>
        <th>
            Correo Electronico
        </th>
        <th>Acción</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <p class="text-center"> @Html.ActionLink("Editar", "Edit", new { id = item.idpersona }, new { @class = "btn btn-primary" }) </p>
                <p class="text-center"> @Html.ActionLink("Detalles", "Details", new { id = item.idpersona }, new { @class = "btn btn-info" }) </p>
                <p class="text-center"> @Html.ActionLink("Eliminar", "Delete", new { id = item.idpersona }, new { @class = "btn btn-danger" })</p>
            </td>
        </tr>
    }

</table>
